{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 140,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "src/store.ts",
      "options": {
        "printWidth": 200
      }
    }
  ]
}